.photo-gallery1  {
  color:#313437;
  background-color:#fff;
}

.photo-gallery1 p {
  color:#7d8285;
}

.photo-gallery1 h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .photo-gallery1 h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.photo-gallery1 .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 40px;
}

.photo-gallery1 .intro p {
  margin-bottom:0;
}

.photo-gallery1 .photos1 {
  padding-bottom:20px;
}

.photo-gallery1 .item {
  padding-bottom:30px;
}

.photo-gallery2  {
  color:#313437;
  background-color:#fff;
}

.photo-gallery2 p {
  color:#7d8285;
}

.photo-gallery2 h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .photo-gallery2 h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.photo-gallery2 .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 40px;
}

.photo-gallery2 .intro p {
  margin-bottom:0;
}

.photo-gallery2 .photos2 {
  padding-bottom:20px;
}

.photo-gallery2 .item {
  padding-bottom:30px;
}
